In [2]:
import pandas as pd

# Load dataset
df = pd.read_csv('../data/Food-Delivery-App.csv')

In [4]:
# Check first 5 rows
print(df.head())

   order_id  customer_id            restaurant_name cuisine_type  \
0   1477147       337525                    Hangawi       Korean
1   1477685       358141  Blue Ribbon Sushi Izakaya     Japanese
2   1477070        66393                Cafe Habana      Mexican
3   1477334       106968  Blue Ribbon Fried Chicken     American
4   1478249        76942           Dirty Bird to Go     American

   cost_of_the_order day_of_the_week     rating  food_preparation_time  \
0              30.75         Weekend  Not given                     25
1              12.08         Weekend  Not given                     25
2              12.23         Weekday          5                     23
3              29.20         Weekend          3                     25
4              11.59         Weekday          4                     25

   delivery_time
0             20
1             23
2             28
3             15
4             24

In [5]:
# Check columns and data types
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1898 entries, 0 to 1897
Data columns (total 9 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   order_id               1898 non-null   int64
 1   customer_id            1898 non-null   int64
 2   restaurant_name        1898 non-null   object
 3   cuisine_type           1898 non-null   object
 4   cost_of_the_order      1898 non-null   float64
 5   day_of_the_week        1898 non-null   object
 6   rating                 1898 non-null   object
 7   food_preparation_time  1898 non-null   int64
 8   delivery_time          1898 non-null   int64
dtypes: float64(1), int64(4), object(4)
memory usage: 133.6+ KB
None

In [6]:
# Check basic stats for numeric columns
print(df.describe())

           order_id    customer_id  cost_of_the_order  food_preparation_time  \
count  1.898000e+03    1898.000000        1898.000000            1898.000000
mean   1.477496e+06  171168.478398          16.498851              27.371970
std    5.480497e+02  113698.139743           7.483812               4.632481
min    1.476547e+06    1311.000000           4.470000              20.000000
25%    1.477021e+06   77787.750000          12.080000              23.000000
50%    1.477496e+06  128600.000000          14.140000              27.000000
75%    1.477970e+06  270525.000000          22.297500              31.000000
max    1.478444e+06  405334.000000          35.410000              35.000000

       delivery_time
count    1898.000000
mean       24.161749
std         4.972637
min        15.000000
25%        20.000000
50%        25.000000
75%        28.000000
max        33.000000

In [7]:
# Count missing values per column
print(df.isnull().sum())

order_id                 0
customer_id              0
restaurant_name          0
cuisine_type             0
cost_of_the_order        0
day_of_the_week          0
rating                   0
food_preparation_time    0
delivery_time            0
dtype: int64

In [8]:
import numpy as np

# Replace 'Not given' with NaN
df['rating'] = df['rating'].replace('Not given', np.nan)

# Convert rating to numeric
df['rating'] = pd.to_numeric(df['rating'])

# Check result
print(df['rating'].dtype)
print(df['rating'].isnull().sum())

float64
736

In [9]:
df['total_order_time'] = df['food_preparation_time'] + df['delivery_time']

In [11]:
df['delivery_speed'] = df['delivery_time'].apply(
    lambda x: 'Fast' if x <= 30 else 'Slow'
)

In [12]:
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1898 entries, 0 to 1897
Data columns (total 11 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   order_id               1898 non-null   int64
 1   customer_id            1898 non-null   int64
 2   restaurant_name        1898 non-null   object
 3   cuisine_type           1898 non-null   object
 4   cost_of_the_order      1898 non-null   float64
 5   day_of_the_week        1898 non-null   object
 6   rating                 1162 non-null   float64
 7   food_preparation_time  1898 non-null   int64
 8   delivery_time          1898 non-null   int64
 9   total_order_time       1898 non-null   int64
 10  delivery_speed         1898 non-null   object
dtypes: float64(2), int64(5), object(4)
memory usage: 163.2+ KB

,order_id,customer_id,restaurant_name,cuisine_type,cost_of_the_order,day_of_the_week,rating,food_preparation_time,delivery_time,total_order_time,delivery_speed
0,1477147,337525,Hangawi,Korean,30.75,Weekend,NaN,25,20,45,Fast
1,1477685,358141,Blue Ribbon Sushi Izakaya,Japanese,12.08,Weekend,NaN,25,23,48,Fast
2,1477070,66393,Cafe Habana,Mexican,12.23,Weekday,5.0,23,28,51,Fast
3,1477334,106968,Blue Ribbon Fried Chicken,American,29.20,Weekend,3.0,25,15,40,Fast
4,1478249,76942,Dirty Bird to Go,American,11.59,Weekday,4.0,25,24,49,Fast

In [13]:
df.to_csv('../data/cleaned_food_delivery_data.csv', index=False)